---
BasedOnStyle: LLVM
AccessModifierOffset: -4
ColumnLimit: 80
IndentWidth: 4
IndentPPDirectives: None
IndentCaseLabels: true
PointerAlignment: Left
AllowShortEnumsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakTemplateDeclarations: Yes
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
SpaceAfterTemplateKeyword: false
SpaceBeforeParens: Never
UseTab: Never
BreakBeforeBraces: Custom
BreakAfterAttributes: Leave
BraceWrapping:
  BeforeCatch: true
  BeforeElse: true
